In [1]:
import pandas as pd

.groupby() will create categories based on common values across 1 or more columns in the original dataframe

In [5]:
#get the data
fortune = pd.read_csv("../data/pandas/fortune1000.csv", index_col="Rank")
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [10]:
#clean up the data and get it into the desired types and shape
fortune.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
Company      1000 non-null object
Sector       1000 non-null object
Industry     1000 non-null object
Location     1000 non-null object
Revenue      1000 non-null int64
Profits      1000 non-null int64
Employees    1000 non-null int64
dtypes: int64(3), object(4)
memory usage: 62.5+ KB

In [21]:
#determine how many unique values there are for Industry, Location, and Sector
print ("Total rows: ",fortune.count())
print ("Unique values")
print ("Sector:",fortune.Sector.nunique())
print ("Industry:",fortune.Industry.nunique())
print ("Location:",fortune.Location.nunique())

Total rows:  Company      1000
Sector       1000
Industry     1000
Location     1000
Revenue      1000
Profits      1000
Employees    1000
dtype: int64
Unique values
Sector: 21
Industry: 73
Location: 416

In [24]:
#Sector and Industry appear to be good candidates for category types
fortune.Sector = fortune.Sector.astype('category')
fortune.Industry = fortune.Industry.astype('category')
fortune.info() #check our data savings

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
Company      1000 non-null object
Sector       1000 non-null category
Industry     1000 non-null category
Location     1000 non-null object
Revenue      1000 non-null int64
Profits      1000 non-null int64
Employees    1000 non-null int64
dtypes: category(2), int64(3), object(2)
memory usage: 52.7+ KB

In [25]:
# .groupby works best on columns with a common value that is oft repeated in that column
sectors = fortune.groupby("Sector")

In [26]:
len(sectors) #returns the # of groupings instead of the # of rows, like we'd normally expect with a dataframe

21

In [28]:
#find out how big each of these groupings are in rows.  This is similar to value_counts
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [30]:
# .first() method gets the first row from each grouping.  The .last() does the opposite
sectors.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [31]:
# the 'groups' attribute shows the values associated with the key for each grouping
sectors.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

In [38]:
# find the mean of the values in a specific grouping
sectors.groups['Apparel'][0].mean()

91.0

# .get_group() method
used to extract a group from a dataframegroupby object

In [43]:
#using get_group() returns a dataframe with all the rows in that group
sectors.get_group('Transportation').head()

,Company,Employees,Industry,Location,Profits,Revenue
Rank,,,,,,
48,UPS,341240,"Mail, Package, and Freight Delivery","Atlanta, GA",4844,58363
58,FedEx,323035,"Mail, Package, and Freight Delivery","Memphis, TN",1050,47453
67,American Airlines Group,118500,Airlines,"Fort Worth, TX",7610,40990
68,Delta Air Lines,82949,Airlines,"Atlanta, GA",4526,40704
80,United Continental Holdings,84000,Airlines,"Chicago, IL",7340,37864

In [44]:
#you can perform normal methods on the dataframe now that you have it
sectors.get_group('Apparel').describe()

          Employees      Profits       Revenue
count     15.000000    15.000000     15.000000
mean   23093.133333   549.066667   6397.866667
std    21833.228179   810.479441   7254.770616
min     5978.000000    82.000000   2204.000000
25%     9259.500000   191.500000   2853.000000
50%    13500.000000   233.000000   3963.000000
75%    23100.000000   500.500000   6676.000000
max    65300.000000  3273.000000  30601.000000

In [53]:
#use pivot_table on a groupby group
retail = sectors.get_group('Retailing')
#let's get the median profit and revenue by industry
retail.pivot_table(values=["Profits","Revenue"], index="Industry", aggfunc = "median")

                                Profits  Revenue
Industry
Automotive Retailing, Services    228.0  10079.5
General Merchandisers             636.5  19786.5
Specialty Retailers: Apparel      126.5   3520.5
Specialty Retailers: Other        178.5   5521.0

In [58]:
#get the total employees by industry
retail.pivot_table(values='Employees', index='Industry',aggfunc='sum')

                                                Employees
Industry
Advertising, marketing                                  0
Aerospace and Defense                                   0
Airlines                                                0
Apparel                                                 0
Automotive Retailing, Services                     174974
Beverages                                               0
Building Materials, Glass                               0
Chemicals                                               0
Commercial Banks                                        0
Computer Peripherals                                    0
Computer Software                                       0
Computers, Office Equipment                             0
Construction and Farm Machinery                         0
Diversified Financials                                  0
Diversified Outsourcing Services                        0
Education                                               0
Electronics, Electrical Equip.                          0
Energy                                                  0
Engineering, Construction                               0
Entertainment                                           0
Financial Data Services                                 0
Food Consumer Products                                  0
Food Production                                         0
Food Services                                           0
Food and Drug Stores                                    0
Forest and Paper Products                               0
General Merchandisers                             3408100
Health Care: Insurance and Managed Care                 0
Health Care: Medical Facilities                         0
Health Care: Pharmacy and Other Services                0
...                                                   ...
Metals                                                  0
Mining, Crude-Oil Production                            0
Miscellaneous                                           0
Motor Vehicles and Parts                                0
Network and Other Communications Equipment              0
Oil and Gas Equipment, Services                         0
Packaging, Containers                                   0
Petroleum Refining                                      0
Pharmaceuticals                                         0
Pipelines                                               0
Publishing, Printing                                    0
Railroads                                               0
Real estate                                             0
Scientific,Photographic and Control Equipment           0
Securities                                              0
Semiconductors and Other Electronic Components          0
Specialty Retailers: Apparel                       770543
Specialty Retailers: Other                        1874012
Telecommunications                                      0
Temporary Help                                          0
Tobacco                                                 0
Transportation Equipment                                0
Transportation and Logistics                            0
Trucking, Truck Leasing                                 0
Utilities: Gas and Electric                             0
Waste Management                                        0
Wholesalers: Diversified                                0
Wholesalers: Electronics and Office Equipment           0
Wholesalers: Food and Grocery                           0
Wholesalers: Health Care                                0

[73 rows x 1 columns]

In [63]:
# Aggregate functions for groupby: max(), min(), count(), median(), mean(), and even describe()!
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

# groupby() with multiple column values

In [64]:
#groupby sector and industry
sectorXind = fortune.groupby(['Sector','Industry'])

In [67]:
#see the industries specific to each sector
sectorXind.size()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                             20
Apparel                     Apparel                                           15
Business Services           Advertising, marketing                             2
                            Diversified Outsourcing Services                  14
                            Education                                          3
                            Financial Data Services                           19
                            Miscellaneous                                      3
                            Temporary Help                                     5
                            Waste Management                                   5
Chemicals                   Chemicals                                         30
Energy                      Energy                                            14
                            Mining, Crude-Oil Production                      28
                            Miscellaneous                                      1
                            Oil and Gas Equipment, Services                    9
                            Petroleum Refining                                17
                            Pipelines                                         12
                            Utilities: Gas and Electric                       41
Engineering & Construction  Engineering, Construction                         14
                            Homebuilders                                      12
Financials                  Commercial Banks                                  28
                            Diversified Financials                            15
                            Insurance: Life, Health (Mutual)                  10
                            Insurance: Life, Health (stock)                   18
                            Insurance: Property and Casualty (Mutual)          7
                            Insurance: Property and Casualty (Stock)          28
                            Real estate                                       15
                            Securities                                        18
Food and Drug Stores        Food and Drug Stores                              15
Food, Beverages & Tobacco   Beverages                                          9
                            Food Consumer Products                            20
                                                                              ..
Materials                   Metals                                            14
                            Miscellaneous                                      1
                            Packaging, Containers                             16
Media                       Entertainment                                     18
                            Publishing, Printing                               7
Motor Vehicles & Parts      Motor Vehicles and Parts                          24
Retailing                   Automotive Retailing, Services                    10
                            General Merchandisers                             10
                            Specialty Retailers: Apparel                      18
                            Specialty Retailers: Other                        42
Technology                  Computer Peripherals                               4
                            Computer Software                                 14
                            Computers, Office Equipment                        7
                            Information Technology Services                   13
                            Internet Services and Retailing                   15
                            Network and Other Communications Equipment        14
                            Scientific,Photographic and Control Equipment     12
                            Semiconductors and Other Electronic Components    23
Telecommunications          Telecommunications                                15
Transportation              Airlines                                           9
                            Mail, Package, and Freight Delivery                2
                            Miscellaneous                                      1
                            Railroads                                          5
                            Transportation Equipment                           5
                            Transportation and Logistics                       5
                            Trucking, Truck Leasing                            9
Wholesalers                 Miscellaneous                                      1
                            Wholesalers: Diversified                          25
                            Wholesalers: Electronics and Office Equipment      8
                            Wholesalers: Food and Grocery                      6
Length: 79, dtype: int64

In [70]:
sectorXind.sum().dropna() #there's a lot of "NaN", so I use dropna() to get rid of these

                                                                            Revenue  \
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                           357940.0
Apparel                    Apparel                                          95968.0
Business Services          Advertising, marketing                           22748.0
                           Diversified Outsourcing Services                 64829.0
                           Education                                         7485.0
                           Financial Data Services                         100778.0
                           Miscellaneous                                    11185.0
                           Temporary Help                                   34716.0
                           Waste Management                                 30454.0
Chemicals                  Chemicals                                       243897.0
Energy                     Energy                                           67749.0
                           Mining, Crude-Oil Production                    176435.0
                           Miscellaneous                                     3159.0
                           Oil and Gas Equipment, Services                  82827.0
                           Petroleum Refining                              705472.0
                           Pipelines                                       138756.0
                           Utilities: Gas and Electric                     343411.0
Engineering & Construction Engineering, Construction                        99774.0
                           Homebuilders                                     54209.0
Financials                 Commercial Banks                                623669.0
                           Diversified Financials                          327075.0
                           Insurance: Life, Health (Mutual)                181336.0
                           Insurance: Life, Health (stock)                 245551.0
                           Insurance: Property and Casualty (Mutual)       143682.0
                           Insurance: Property and Casualty (Stock)        548027.0
                           Real estate                                      62748.0
                           Securities                                       85071.0
Food and Drug Stores       Food and Drug Stores                            483769.0
Food, Beverages & Tobacco  Beverages                                        79396.0
                           Food Consumer Products                          238954.0
...                                                                             ...
Materials                  Metals                                           99925.0
                           Miscellaneous                                     6070.0
                           Packaging, Containers                           105965.0
Media                      Entertainment                                   186276.0
                           Publishing, Printing                             34488.0
Motor Vehicles & Parts     Motor Vehicles and Parts                        482540.0
Retailing                  Automotive Retailing, Services                  113823.0
                           General Merchandisers                           684320.0
                           Specialty Retailers: Apparel                    122975.0
                           Specialty Retailers: Other                      543958.0
Technology                 Computer Peripherals                             48950.0
                           Computer Software                               179112.0
                           Computers, Office Equipment                     353781.0
                           Information Technology Services                 166067.0
                           Internet Services and Retailing                 259136.0
                           Network and Other Communications Equipment      125697.0
                           Scientific,Photographic and Control Equipment    65832.0
                           Semiconductors and Other Electronic Components  179025.0
Telecommunications         Telecommunications                              461834.0
Transportation             Airlines                                        158948.0
                           Mail, Package, and Freight Delivery             105816.0
                           Miscellaneous                                     2148.0
                           Railroads                                        48554.0
                           Transportation Equipment                         23855.0
                           Transportation and Logistics                     33237.0
                           Trucking, Truck Leasing                          35950.0
Wholesalers                Miscellaneous                                     8982.0
                           Wholesalers: Diversified                        176138.0
                           Wholesalers: Electronics and Office Equipment   147906.0
                           Wholesalers: Food and Grocery                   111774.0

                                                                            Profits  \
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                            28742.0
Apparel                    Apparel                                           8236.0
Business Services          Advertising, marketing                            1549.0
                           Diversified Outsourcing Services                  4305.0
                           Education                                           69.0
                           Financial Data Services                          17456.0
                           Miscellaneous                                     2130.0
                           Temporary Help                                    1000.0
                           Waste Management                                  1718.0
Chemicals                  Chemicals                                        22628.0
Energy                     Energy                                          -13038.0
                           Mining, Crude-Oil Production                   -124555.0
                           Miscellaneous                                      476.0
                           Oil and Gas Equipment, Services                  -4047.0
                           Petroleum Refining                               31888.0
                           Pipelines                                         5814.0
                           Utilities: Gas and Electric                      30015.0
Engineering & Construction Engineering, Construction                         1765.0
                           Homebuilders                                      3539.0
Financials                 Commercial Banks                                129760.0
                           Diversified Financials                           28548.0
                           Insurance: Life, Health (Mutual)                  5601.0
                           Insurance: Life, Health (stock)                  19731.0
                           Insurance: Property and Casualty (Mutual)         8031.0
                           Insurance: Property and Casualty (Stock)         44803.0
                           Real estate                                       9480.0
                           Securities                                       14255.0
Food and Drug Stores       Food and Drug Stores                             16759.0
Food, Beverages & Tobacco  Beverages                                        11698.0
                           Food Consumer Products                           19263.0
...                                                                             ...
Materials                  Metals                                           -2241.0
                           Miscellaneous                                        7.0
                           Packaging, Containers                             4445.0
Media                      Entertainment                                    25686.0
                           Publishing, Printing                             -1339.0
Motor Vehicles & Parts     Motor Vehicles and Parts                         25898.0
Retailing                  Automotive Retailing, Services                    2550.0
                           General Merchandisers                            20137.0
                           Specialty Retailers: Apparel                      4583.0
                           Specialty Retailers: Other                       20560.0
Technology                 Computer Peripherals                              3975.0
                           Computer Software                                26457.0
                           Computers, Office Equipment                      58433.0
                           Information Technology Services                  16402.0
                           Internet Services and Retailing                  22232.0
                           Network and Other Communications Equipment       18907.0
                           Scientific,Photographic and Control Equipment     9346.0
                           Semiconductors and Other Electronic Components   24721.0
Telecommunications         Telecommunications                               48637.0
Transportation             Airlines                                         23800.0
                           Mail, Package, and Freight Delivery               5894.0
                           Miscellaneous                                      227.0
                           Railroads                                         9005.0
                           Transportation Equipment                          2438.0
                           Transportation and Logistics                       895.0
                           Trucking, Truck Leasing                           1910.0
Wholesalers                Miscellaneous                                       17.0
                           Wholesalers: Diversified                          5193.0
                           Wholesalers: Electronics and Office Equipment     1857.0
                           Wholesalers: Food and Grocery                     1166.0

                                                                           Employees
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                            968057.0
Apparel                    Apparel                                          346397.0
Business Services          Advertising, marketing                           124100.0
                           Diversified Outsourcing Services                 708330.0
                           Education                                         46755.0
                           Financial Data Services                          264926.0
                           Miscellaneous                                     37720.0
                           Temporary Help                                    60020.0
                           Waste Management                                 119199.0
Chemicals                  Chemicals                                        463651.0
Energy                     Energy                                            70072.0
                           Mining, Crude-Oil Production                     149110.0
                           Miscellaneous                                      6700.0
                           Oil and Gas Equipment, Services                  225795.0
                           Petroleum Refining                               244880.0
                           Pipelines                                         72141.0
                           Utilities: Gas and Electric                      420229.0
Engineering & Construction Engineering, Construction                        368104.0
                           Homebuilders                                      38604.0
Financials                 Commercial Banks                                1539024.0
                           Diversified Financials                           329114.0
                           Insurance: Life, Health (Mutual)                  58801.0
                           Insurance: Life, Health (stock)                  202233.0
                           Insurance: Property and Casualty (Mutual)        133148.0
                           Insurance: Property and Casualty (Stock)         794123.0
                           Real estate                                      160579.0
                           Securities                                       142926.0
Food and Drug Stores       Food and Drug Stores                            1395398.0
Food, Beverages & Tobacco  Beverages                                        199107.0
                           Food Consumer Products                           665439.0
...                                                                              ...
Materials                  Metals                                           193559.0
                           Miscellaneous                                        52.0
                           Packaging, Containers                            333446.0
Media                      Entertainment                                    383564.0
                           Publishing, Printing                             166750.0
Motor Vehicles & Parts     Motor Vehicles and Parts                        1082560.0
Retailing                  Automotive Retailing, Services                   174974.0
                           General Merchandisers                           3408100.0
                           Specialty Retailers: Apparel                     770543.0
                           Specialty Retailers: Other                      1874012.0
Technology                 Computer Peripherals                             175259.0
                           Computer Software                                388796.0
                           Computers, Office Equipment                      468085.0
                           Information Technology Services                  985639.0
                           Internet Services and Retailing                  430855.0
                           Network and Other Communications Equipment       299310.0
                           Scientific,Photographic and Control Equipment    231501.0
                           Semiconductors and Other Electronic Components   599504.0
Telecommunications         Telecommunications                               832468.0
Transportation             Airlines                                         391601.0
                           Mail, Package, and Freight Delivery              664275.0
                           Miscellaneous                                      4200.0
                           Railroads                                        121844.0
                           Transportation Equipment                          59726.0
                           Transportation and Logistics                     124691.0
                           Trucking, Truck Leasing                          170456.0
Wholesalers                Miscellaneous                                      9200.0
                           Wholesalers: Diversified                         233831.0
                           Wholesalers: Electronics and Office Equipment    166661.0
                           Wholesalers: Food and Grocery                    115905.0

[79 rows x 3 columns]

# .agg() method to aggregate columns in a groupby object

In [73]:
# instead of calling a method collectively, be specific about what operation to use on each column. 
#use a dict {} for the arguments
sectors.agg({"Revenue":"sum",
              "Profits": "sum",
              "Employees": "mean"})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940    28742  48402.850000
Apparel                         95968     8236  23093.133333
Business Services              272195    28227  26687.254902
Chemicals                      243897    22628  15455.033333
Energy                        1517809   -73447   9745.303279
Engineering & Construction     153983     5304  15642.615385
Financials                    2217159   260209  24172.287770
Food and Drug Stores           483769    16759  93026.533333
Food, Beverages & Tobacco      555967    51417  28177.488372
Health Care                   1614707   106114  35710.520000
Hotels, Resturants & Leisure   169546    20697  99369.800000
Household Products             234737    14428  23072.785714
Industrials                    497581    20764  33591.934783
Materials                      259145     4428  14840.069767
Media                          220764    24347  22012.560000
Motor Vehicles & Parts         482540    25898  45106.666667
Retailing                     1465076    47830  77845.362500
Technology                    1377600   180473  35087.735294
Telecommunications             461834    48637  55497.866667
Transportation                 408508    44169  42688.694444
Wholesalers                    444800     8233  13139.925000

In [74]:
#you can also give a list to .agg() to apply multiple operations to multiple columns
sectors.agg(["size","sum","mean"])

                             Revenue                        Profits          \
                                size      sum          mean    size     sum
Sector
Aerospace & Defense               20   357940  17897.000000      20   28742
Apparel                           15    95968   6397.866667      15    8236
Business Services                 51   272195   5337.156863      51   28227
Chemicals                         30   243897   8129.900000      30   22628
Energy                           122  1517809  12441.057377     122  -73447
Engineering & Construction        26   153983   5922.423077      26    5304
Financials                       139  2217159  15950.784173     139  260209
Food and Drug Stores              15   483769  32251.266667      15   16759
Food, Beverages & Tobacco         43   555967  12929.465116      43   51417
Health Care                       75  1614707  21529.426667      75  106114
Hotels, Resturants & Leisure      25   169546   6781.840000      25   20697
Household Products                28   234737   8383.464286      28   14428
Industrials                       46   497581  10816.978261      46   20764
Materials                         43   259145   6026.627907      43    4428
Media                             25   220764   8830.560000      25   24347
Motor Vehicles & Parts            24   482540  20105.833333      24   25898
Retailing                         80  1465076  18313.450000      80   47830
Technology                       102  1377600  13505.882353     102  180473
Telecommunications                15   461834  30788.933333      15   48637
Transportation                    36   408508  11347.444444      36   44169
Wholesalers                       40   444800  11120.000000      40    8233

                                          Employees
                                     mean      size      sum          mean
Sector
Aerospace & Defense           1437.100000        20   968057  48402.850000
Apparel                        549.066667        15   346397  23093.133333
Business Services              553.470588        51  1361050  26687.254902
Chemicals                      754.266667        30   463651  15455.033333
Energy                        -602.024590       122  1188927   9745.303279
Engineering & Construction     204.000000        26   406708  15642.615385
Financials                    1872.007194       139  3359948  24172.287770
Food and Drug Stores          1117.266667        15  1395398  93026.533333
Food, Beverages & Tobacco     1195.744186        43  1211632  28177.488372
Health Care                   1414.853333        75  2678289  35710.520000
Hotels, Resturants & Leisure   827.880000        25  2484245  99369.800000
Household Products             515.285714        28   646038  23072.785714
Industrials                    451.391304        46  1545229  33591.934783
Materials                      102.976744        43   638123  14840.069767
Media                          973.880000        25   550314  22012.560000
Motor Vehicles & Parts        1079.083333        24  1082560  45106.666667
Retailing                      597.875000        80  6227629  77845.362500
Technology                    1769.343137       102  3578949  35087.735294
Telecommunications            3242.466667        15   832468  55497.866667
Transportation                1226.916667        36  1536793  42688.694444
Wholesalers                    205.825000        40   525597  13139.925000

# iterating over groups!

In [77]:
#create a blank dataframe but with the structure of the fortune df
df = pd.DataFrame(columns= fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [78]:
#iterate over the df
for sector, data in sectors:
    highest_revenue_co_in_group = data.nlargest(1,"Revenue") #get the largest value for this sector, only return highest value, choose the "Revenue" column
    #now add it to my new dataframe
    df = df.append(highest_revenue_co_in_group)

In [79]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [80]:
#get the highest revenue by city
cities = fortune.groupby("Location")

#create a blank df to put this into
df = pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [85]:
#loop over each city
for city, data in cities:
    highest_revenue_in_city = data.nlargest(1,"Revenue") #get top Revenue for each column
    df = df.append(highest_revenue_in_city)
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
915,Domino’s Pizza,"Hotels, Resturants & Leisure",Food Services,"Ann Arbor, MI",2217,193,11900
596,Colfax,Industrials,Industrial Machinery,"Annapolis Junction, MD",3967,168,17087
215,Land O’Lakes,"Food, Beverages & Tobacco",Food Consumer Products,"Arden Hills, MN",13161,308,10000
190,AES,Energy,Utilities: Gas and Electric,"Arlington, VA",14963,306,21000
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461,13190,411798
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
310,Autoliv,Motor Vehicles & Parts,Motor Vehicles and Parts,"Auburn Hills, MI",9170,457,59350
304,Hormel Foods,"Food, Beverages & Tobacco",Food Consumer Products,"Austin, MN",9264,686,20700
181,Whole Foods Market,Food and Drug Stores,Food and Drug Stores,"Austin, TX",15389,536,76300
668,PolyOne,Chemicals,Chemicals,"Avon Lake, OH",3378,145,6900
573,T. Rowe Price,Financials,Securities,"Baltimore, MD",4201,1223,5999
420,Baxalta,Health Care,Pharmaceuticals,"Bannockburn, IL",6149,956,17000
624,Albemarle,Chemicals,Chemicals,"Baton Rouge, LA",3651,335,6963
207,Kellogg,"Food, Beverages & Tobacco",Food Consumer Products,"Battle Creek, MI",13525,614,33577
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
147,Paccar,Motor Vehicles & Parts,Motor Vehicles and Parts,"Bellevue, WA",19115,1604,23000
645,Regal Beloit,Industrials,"Electronics, Electrical Equip.","Beloit, WI",3510,143,26200
134,Whirlpool,Industrials,"Electronics, Electrical Equip.","Benton Harbor, MI",20891,783,97000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
594,Ametek,Technology,"Scientific,Photographic and Control Equipment","Berwyn, PA",3974,591,15400
60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132,3605,126000
399,Cablevision Systems,Telecommunications,Telecommunications,"Bethpage, NY",6510,175,13549
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246,-33,12200
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674,1062,23916
558,MDU Resources Group,Energy,Energy,"Bismarck, ND",4376,-622,8689
...,...,...,...,...,...,...,...
120,Raytheon,Aerospace & Defense,Aerospace and Defense,"Waltham, MA",23247,2074,61000
850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470,82,2997
431,Zimmer Biomet Holdings,Health Care,Medical Products and Equipment,"Warsaw, IN",5998,147,17500
16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520,498,6000
898,MPM Holdings,Chemicals,Chemicals,"Waterford, NY",2289,-83,5000
874,Granite Construction,Engineering & Construction,"Engineering, Construction","Watsonville, CA",2371,61,3200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
240,Toys “R” Us,Retailing,Specialty Retailers: Other,"Wayne, NJ",11802,-130,62000
785,B/E Aerospace,Aerospace & Defense,Aerospace and Defense,"Wellington, FL",2730,286,10057
383,AK Steel Holding,Materials,Metals,"West Chester, OH",6693,-509,8500
829,Platform Specialty Products,Chemicals,Chemicals,"West Palm Beach, FL",2542,-309,8200
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
456,Ingredion,"Food, Beverages & Tobacco",Food Production,"Westchester, IL",5621,402,11500
439,TravelCenters of America,Retailing,Specialty Retailers: Other,"Westlake, OH",5851,28,18450
396,Terex,Industrials,Construction and Farm Machinery,"Westport, CT",6543,146,20400
847,ITT,Industrials,Industrial Machinery,"White Plains, NY",2486,352,9700
389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644,789,15200
849,Tops Holding,Food and Drug Stores,Food and Drug Stores,"Williamsville, NY",2472,-62,14800
674,Westinghouse Air Brake Technologies,Industrials,Industrial Machinery,"Wilmerding, PA",3308,399,13000
101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940,1953,52000
607,Fastenal,Retailing,Specialty Retailers: Other,"Winona, MN",3869,516,20746
266,Reynolds American,"Food, Beverages & Tobacco",Tobacco,"Winston-Salem, NC",10675,3253,5650
678,Skyworks Solutions,Technology,Semiconductors and Other Electronic Components,"Woburn, MA",3258,798,6700
172,Health Net,Health Care,Health Care: Insurance and Managed Care,"Woodland Hills, CA",16244,186,8584
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510