In [14]:
#import needed libraries
import pandas as pd
import datetime as dt

# Built-in datetime methods

In [15]:
#create a date object
birthday = dt.date(1976, 4, 4)

In [16]:
#get info out of the new date object.  Attributes: year, month, day
birthday.day

4

In [17]:
#datetime object has a timestamp with it.  argument order: Y, M, D, H, M, S
then = dt.datetime(2010,4,4,6,12,56)

In [18]:
#use dot notation + attributes (year, month, day, hour, minute, second)
then.year

2010

# pandas datetimes methods

## timestamp object: pandas version of a python datetime

In [19]:

''' you can use dates in many different formats.  Try any of the following:
  12 Oct 2013
  2013 October 12
  10/12/2018
  10-12-2018
  October 12, 2018
  6:45am 12 Oct 2018
  Oct. 12, 2018 20:33:12
'''

pd.Timestamp("Oct. 12, 2018 20:33:12")

Timestamp('2018-10-12 20:33:12')

## DateTimeIndex object

In [20]:
dates= ["6:45am 12 Oct 2018", "Oct. 13, 2018 20:33:12", "4/4/1978"]
dtIndex = pd.DatetimeIndex(dates)

In [21]:
#create a series and use the datetimeindex as the index for a series
values = [234, 456,143]
pd.Series(data = values, index = dtIndex)

2018-10-12 06:45:00    234
2018-10-13 20:33:12    456
1978-04-04 00:00:00    143
dtype: int64

## pd.to_datetime()
a method to convert an object to a datetime object

In [22]:
#convert to datetime in several different ways
pd.to_datetime("10-12-2018")
pd.to_datetime(dt.date(2015,1,1,))
pd.to_datetime(dt.datetime(2018,2,3,5,24,21))
pd.to_datetime(dates)

DatetimeIndex(['2018-10-12 06:45:00', '2018-10-13 20:33:12',
               '1978-04-04 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [23]:
times = pd.Series(dates)
times

0        6:45am 12 Oct 2018
1    Oct. 13, 2018 20:33:12
2                  4/4/1978
dtype: object

In [24]:
#convert a series of dates to a datetime object
pd.to_datetime(times)

0   2018-10-12 06:45:00
1   2018-10-13 20:33:12
2   1978-04-04 00:00:00
dtype: datetime64[ns]

In [25]:
#given invalid data
messedUpDates = pd.Series(["July 4, 1776", "10/4/1012","How are you?","2015-2-30"])
messedUpDates

0    July 4, 1776
1       10/4/1012
2    How are you?
3       2015-2-30
dtype: object

In [26]:
pd.to_datetime(messedUpDates) #this will throw an error with the strings that can't really be converted to dates

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1012-10-04 00:00:00

In [27]:
pd.to_datetime(messedUpDates, errors="coerce") # use the errors argument to not report errors

0   1776-07-04
1          NaT
2          NaT
3          NaT
dtype: datetime64[ns]

NaT = "not a time" which is essentiall "null," but for datetimes

In [28]:
#convert UNIX times to datetimes. Use 'unit' parameter to indicate that these are seconds
pd.to_datetime([1234567890, 1087654321, 4352987654], unit="s")

DatetimeIndex(['2009-02-13 23:31:30', '2004-06-19 14:12:01',
               '2107-12-10 19:14:14'],
              dtype='datetime64[ns]', freq=None)

## .date_range() method
create ranges of dates

In [29]:
pd.date_range(start = "1-1-2015", end = "1-1-2018", freq = "m") 
#freq specifies the interval.  10D -= every 10 days.
    # freq options: Y= year (A=year end), M=month end (MS=month start), 
    # W=week (W-SUN or W-WED to start week on a specific day),
    # B = "business days", D=day, H=hour, S=seconds,

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
               '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [30]:
#create range with a specific # of values
pd.date_range(start="10-10-2018", periods=10)

DatetimeIndex(['2018-10-10', '2018-10-11', '2018-10-12', '2018-10-13',
               '2018-10-14', '2018-10-15', '2018-10-16', '2018-10-17',
               '2018-10-18', '2018-10-19'],
              dtype='datetime64[ns]', freq='D')

In [31]:
#start with the end in mind and go backwards
pd.date_range(end = "1999-12-31", periods=20, freq="W-WED")

DatetimeIndex(['1999-08-18', '1999-08-25', '1999-09-01', '1999-09-08',
               '1999-09-15', '1999-09-22', '1999-09-29', '1999-10-06',
               '1999-10-13', '1999-10-20', '1999-10-27', '1999-11-03',
               '1999-11-10', '1999-11-17', '1999-11-24', '1999-12-01',
               '1999-12-08', '1999-12-15', '1999-12-22', '1999-12-29'],
              dtype='datetime64[ns]', freq='W-WED')

## .dt Accessor
similar to .str accessor, but for dates instead of strings.

In [32]:
lotsOfDates = pd.date_range(start = "1-1-2000", periods = 50, freq="MS")

In [33]:
datesSeries = pd.Series(lotsOfDates)
datesSeries.head()

0   2000-01-01
1   2000-02-01
2   2000-03-01
3   2000-04-01
4   2000-05-01
dtype: datetime64[ns]

In [34]:
#notice that you can't just access the parts of the date with normal python notation.  e.g.,
datesSeries.hour

AttributeError: 'Series' object has no attribute 'hour'

In [35]:
#instead, prefix it with the .dt Accessor first
datesSeries.dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
dtype: int64

In [36]:
#find out the weekday (full name) for this info
datesSeries.dt.weekday_name

0      Saturday
1       Tuesday
2     Wednesday
3      Saturday
4        Monday
5      Thursday
6      Saturday
7       Tuesday
8        Friday
9        Sunday
10    Wednesday
11       Friday
12       Monday
13     Thursday
14     Thursday
15       Sunday
16      Tuesday
17       Friday
18       Sunday
19    Wednesday
20     Saturday
21       Monday
22     Thursday
23     Saturday
24      Tuesday
25       Friday
26       Friday
27       Monday
28    Wednesday
29     Saturday
30       Monday
31     Thursday
32       Sunday
33      Tuesday
34       Friday
35       Sunday
36    Wednesday
37     Saturday
38     Saturday
39      Tuesday
40     Thursday
41       Sunday
42      Tuesday
43       Friday
44       Monday
45    Wednesday
46     Saturday
47       Monday
48     Thursday
49       Sunday
dtype: object

In [37]:
#check if any of these dates falls on a leap year
datesSeries.dt.is_leap_year

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48     True
49     True
dtype: bool

In [38]:
#the is_ ... attibute allows you to check all sorts of relative date.  
datesSeries.dt.is_quarter_start

0      True
1     False
2     False
3      True
4     False
5     False
6      True
7     False
8     False
9      True
10    False
11    False
12     True
13    False
14    False
15     True
16    False
17    False
18     True
19    False
20    False
21     True
22    False
23    False
24     True
25    False
26    False
27     True
28    False
29    False
30     True
31    False
32    False
33     True
34    False
35    False
36     True
37    False
38    False
39     True
40    False
41    False
42     True
43    False
44    False
45     True
46    False
47    False
48     True
49    False
dtype: bool

# Work with pandas_datareader Library
great library for working with dates in financial data

In [40]:
#WARNING: the most recent version of pandas_datareader seems to break with the most recent version of pandas
## the following line is a hack that solves the problem temporarily without having to modify any of the system files.  In the future, it may not be necessary.  I got this solution from https://stackoverflow.com/questions/50394873/import-pandas-datareader-gives-importerror-cannot-import-name-is-list-like
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data

In [171]:
#query an online source for financial info!
co = "AMZN" #look up a company's stock ticker symbol at: https://www.nasdaq.com/symbol/
start = "1-1-2013"
end = "10-12-2018"

stocks = data.DataReader(name = co, data_source = "iex", start = start, end = end)
# google = data.DataReader(name = "GOOG", data_source = "google", start = "2014-04-01", end="2018-10-10")
#for some reason, google is detecting this as a script and won't let me retrieve the data.

#possible valid sources for stock data as of 2018-10-15
"iex"
"quandl"
"stooq" #limited stocks

#see https://github.com/rsvp/fecon235/issues/7 for further discussion on this issue

5y

'stooq'

In [127]:
#get info about this dataframe
stocks.values
stocks.columns
stocks.info()
stocks.axes
stocks.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2013-10-15 to 2018-10-12
Data columns (total 5 columns):
open      1259 non-null float64
high      1259 non-null float64
low       1259 non-null float64
close     1259 non-null float64
volume    1259 non-null int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

              open    high      low    close   volume
date
2013-10-15  309.87  310.79  305.260  306.400  2261554
2013-10-16  308.38  310.80  305.554  310.490  2180521
2013-10-17  307.07  311.00  305.240  310.770  2648384
2013-10-18  319.36  331.89  316.750  328.931  5969814
2013-10-21  329.89  330.00  323.800  326.440  2527617

# Selecting and extracting from a dataframe with a DateTimeIndex

In [128]:
# let specific info at specific location
stocks.loc['2018-01-03']

open         1188.30
high         1205.49
low          1188.30
close        1204.20
volume    3108793.00
Name: 2018-01-03 00:00:00, dtype: float64

In [129]:
#get range of data.  use the .loc[] or iloc[] methods.  Can get individual records or ranges.
stocks.loc['2014-04-01':'2018-10-01']

               open       high      low     close    volume
date
2014-04-01   338.09   344.4300   338.00   342.990   3602899
2014-04-02   345.99   348.2950   340.38   341.960   4465927
2014-04-03   341.82   342.5000   328.46   333.620   6399299
2014-04-04   335.15   335.4400   315.61   323.000  12534578
2014-04-07   320.99   324.9400   313.13   317.760   7077360
2014-04-08   321.88   328.0000   318.44   327.070   6585583
2014-04-09   328.47   332.1800   322.50   331.805   5058664
2014-04-10   330.60   331.0000   316.50   317.110   6133376
2014-04-11   314.00   316.5000   309.50   311.730   7292028
2014-04-14   317.67   320.4800   311.28   315.910   4293532
2014-04-15   316.70   318.2800   305.50   316.080   5399337
2014-04-16   321.17   324.0000   314.71   323.680   4285901
2014-04-17   319.76   328.6600   319.76   324.910   4300378
2014-04-21   323.97   331.1499   322.31   330.870   3000598
2014-04-22   332.00   337.5000   328.94   329.320   3714288
2014-04-23   333.06   333.1300   323.39   324.580   3604586
2014-04-24   329.67   337.4000   322.95   337.150   9293735
2014-04-25   316.25   316.4900   302.71   303.830  16186737
2014-04-28   304.00   304.3900   288.00   296.580  14479803
2014-04-29   296.44   301.8400   290.45   300.380   6510591
2014-04-30   298.10   304.5600   298.10   304.130   4090006
2014-05-01   304.13   310.4800   304.00   307.890   4329167
2014-05-02   310.42   313.2900   304.31   308.010   3995218
2014-05-05   306.37   310.2300   305.00   310.050   2520300
2014-05-06   309.53   309.8100   297.04   297.380   4682327
2014-05-07   295.56   296.4000   286.68   292.710   7016937
2014-05-08   290.82   295.8784   287.23   288.320   3848996
2014-05-09   290.57   293.6800   284.38   292.240   4062984
2014-05-12   294.30   303.3400   294.16   302.860   3735443
2014-05-13   302.60   305.6000   300.75   304.640   3509937
...             ...        ...      ...       ...       ...
2018-08-20  1890.57  1891.7500  1866.06  1876.710   2862016
2018-08-21  1880.00  1897.7500  1874.40  1883.420   3105626
2018-08-22  1876.64  1905.8000  1876.64  1904.900   3080464
2018-08-23  1907.17  1919.5000  1900.76  1902.900   3562997
2018-08-24  1910.51  1916.0100  1902.54  1905.390   2800863
2018-08-27  1915.00  1927.7000  1909.28  1927.680   3569037
2018-08-28  1937.73  1941.7800  1928.82  1932.820   3100727
2018-08-29  1953.45  1998.6900  1948.94  1998.100   6531761
2018-08-30  1997.42  2025.5700  1986.90  2002.380   7277257
2018-08-31  2007.00  2022.3800  2004.74  2012.710   4204378
2018-09-04  2026.50  2050.5000  2013.00  2039.510   5721093
2018-09-05  2038.11  2040.3800  1989.89  1994.820   8220576
2018-09-06  2006.51  2007.5000  1935.21  1958.310   7488680
2018-09-07  1938.71  1975.2000  1937.35  1952.070   4892643
2018-09-10  1971.00  1973.0400  1931.52  1939.010   4544831
2018-09-11  1928.27  1988.8800  1917.00  1987.150   5033645
2018-09-12  1994.00  2000.0000  1962.44  1990.000   4414012
2018-09-13  2000.00  2008.7600  1982.03  1989.870   3621511
2018-09-14  1992.93  1993.6500  1959.22  1970.190   3642030
2018-09-17  1954.73  1956.8200  1887.41  1908.030   7050192
2018-09-18  1918.65  1958.2000  1915.44  1941.050   4268706
2018-09-19  1940.50  1940.8300  1904.90  1926.420   4056822
2018-09-20  1938.58  1955.0000  1932.25  1944.300   3154934
2018-09-21  1954.22  1957.3100  1910.50  1915.010   6855898
2018-09-24  1903.79  1936.8800  1865.00  1934.360   4213728
2018-09-25  1942.90  1975.9100  1938.85  1974.550   4538407
2018-09-26  1968.50  1995.2500  1961.52  1974.850   4313459
2018-09-27  1993.24  2016.1600  1988.58  2012.980   4329391
2018-09-28  2004.41  2026.5200  1996.46  2003.000   4085135
2018-10-01  2021.99  2033.1900  2003.60  2004.360   3468285

[1135 rows x 5 columns]

In [130]:
#create a DateTimeIndex with all of my birthdays in it up to this point
birthdays  = pd.date_range(start = "1978-04-04", end = "2018-12-31", freq= pd.DateOffset(years = 1))
birthdays

DatetimeIndex(['1978-04-04', '1979-04-04', '1980-04-04', '1981-04-04',
               '1982-04-04', '1983-04-04', '1984-04-04', '1985-04-04',
               '1986-04-04', '1987-04-04', '1988-04-04', '1989-04-04',
               '1990-04-04', '1991-04-04', '1992-04-04', '1993-04-04',
               '1994-04-04', '1995-04-04', '1996-04-04', '1997-04-04',
               '1998-04-04', '1999-04-04', '2000-04-04', '2001-04-04',
               '2002-04-04', '2003-04-04', '2004-04-04', '2005-04-04',
               '2006-04-04', '2007-04-04', '2008-04-04', '2009-04-04',
               '2010-04-04', '2011-04-04', '2012-04-04', '2013-04-04',
               '2014-04-04', '2015-04-04', '2016-04-04', '2017-04-04',
               '2018-04-04'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [131]:
#see if any of the dates of the stocks is in my birthdays list
mask = stocks.index.isin(birthdays)
mask

array([False, False, False, ..., False, False, False])

In [133]:
#check if the stock market was open on any of my birthdays (warning: the stocks data only contains the past 5 years)
stocks[mask] #this originally returned nothing b/c the dates were brought in as strings

               open       high      low    close    volume
date
2014-04-04   335.15   335.4400   315.61   323.00  12534578
2016-04-04   599.00   599.5000   590.55   593.19   2470825
2017-04-04   891.50   908.5384   890.28   906.83   4984656
2018-04-04  1358.24  1415.3900  1352.88  1410.57   6982305

# Timestamp Object Attributes

In [134]:
#get stocks data using DataReader

someday = stocks.index[500]
type(someday)

pandas._libs.tslibs.timestamps.Timestamp

In [137]:
#for some reason, this data cane across as string data. Convert the dates to datetime first
stocks.index = pd.to_datetime(stocks.index)
someday

Timestamp('2015-10-09 00:00:00')

In [138]:
stocks.head(10)

              open      high       low    close    volume
date
2013-10-15  309.87  310.7900  305.2600  306.400   2261554
2013-10-16  308.38  310.8000  305.5540  310.490   2180521
2013-10-17  307.07  311.0000  305.2400  310.770   2648384
2013-10-18  319.36  331.8900  316.7500  328.931   5969814
2013-10-21  329.89  330.0000  323.8000  326.440   2527617
2013-10-22  327.72  337.1100  325.6800  332.540   3942953
2013-10-23  330.84  331.7200  324.0601  326.756   2818158
2013-10-24  329.63  332.6499  326.7500  332.210   5884655
2013-10-25  358.60  368.4000  352.6200  363.390  12043903
2013-10-28  359.92  362.7500  357.2000  358.160   3635848

In [140]:
#insert a column of new values into the list
stocks.insert(0, "Day of the Week", stocks.index.weekday_name)

ValueError: cannot insert Day of the Week, already exists

In [141]:
stocks.head(3)

           Day of the Week    open    high      low   close   volume
date
2013-10-15         Tuesday  309.87  310.79  305.260  306.40  2261554
2013-10-16       Wednesday  308.38  310.80  305.554  310.49  2180521
2013-10-17        Thursday  307.07  311.00  305.240  310.77  2648384

In [144]:
#insert a column that indicates whether or not this is the start of the month
stocks.insert(1, "Start of month?", stocks.index.is_month_start)

In [145]:
stocks.head(3)

,Day of the Week,Start of month?,open,high,low,close,volume
date,,,,,,,
2013-10-15,Tuesday,False,309.87,310.79,305.260,306.40,2261554
2013-10-16,Wednesday,False,308.38,310.80,305.554,310.49,2180521
2013-10-17,Thursday,False,307.07,311.00,305.240,310.77,2648384

In [148]:
#so let's now find the stock price at the beginning of each month
stocks[stocks['Start of month?']]

,Day of the Week,Start of month?,open,high,low,close,volume
date,,,,,,,
2013-11-01,Friday,True,365.63,365.770,356.100,359.002,3332126
2014-04-01,Tuesday,True,338.09,344.430,338.000,342.990,3602899
2014-05-01,Thursday,True,304.13,310.480,304.000,307.890,4329167
2014-07-01,Tuesday,True,325.86,333.200,325.100,332.390,3178548
2014-08-01,Friday,True,313.69,315.830,304.588,307.060,7443091
2014-10-01,Wednesday,True,322.04,322.165,315.550,317.460,3096735
2014-12-01,Monday,True,338.12,340.640,325.930,326.000,4944861
2015-04-01,Wednesday,True,372.10,373.160,368.340,370.255,2458095
2015-05-01,Friday,True,423.82,425.640,416.000,422.870,3565824
2015-06-01,Monday,True,430.40,433.160,426.200,430.920,2253264
2015-07-01,Wednesday,True,439.35,440.000,435.580,437.390,1987076
2015-09-01,Tuesday,True,499.14,510.000,493.430,496.540,3864514
2015-10-01,Thursday,True,511.00,520.800,506.000,520.720,3768483
2015-12-01,Tuesday,True,673.75,681.000,667.860,679.060,4751152
2016-02-01,Monday,True,578.15,581.800,570.310,574.810,6355123
2016-03-01,Tuesday,True,556.29,579.250,556.000,579.040,5038452
2016-04-01,Friday,True,590.49,599.030,588.300,598.500,2917386
2016-06-01,Wednesday,True,720.90,726.430,718.220,719.440,3263107
2016-07-01,Friday,True,717.32,728.000,716.540,725.680,2920423
2016-08-01,Monday,True,759.87,770.500,757.060,767.740,3578205
2016-09-01,Thursday,True,770.90,772.040,766.750,770.620,1792271
2016-11-01,Tuesday,True,799.00,800.840,776.713,785.410,5305428
2016-12-01,Thursday,True,752.41,753.370,738.030,743.650,4665993
2017-02-01,Wednesday,True,829.21,833.780,824.940,832.350,3850181
2017-03-01,Wednesday,True,853.05,854.830,849.010,853.080,2760083
2017-05-01,Monday,True,927.80,954.400,927.800,948.230,5466544
2017-06-01,Thursday,True,998.59,998.990,991.370,995.950,2454841
2017-08-01,Tuesday,True,996.11,1006.400,991.580,996.190,2650376
2017-09-01,Friday,True,984.20,984.500,976.875,978.250,2535917
2017-11-01,Wednesday,True,1105.40,1108.970,1096.740,1103.680,3755511
2017-12-01,Friday,True,1172.05,1179.650,1152.000,1162.350,4107094
2018-02-01,Thursday,True,1445.00,1459.880,1385.140,1390.000,9113808
2018-03-01,Thursday,True,1513.60,1518.490,1465.000,1493.450,6835230
2018-05-01,Tuesday,True,1563.22,1585.000,1552.180,1582.260,4572071
2018-06-01,Friday,True,1637.03,1646.730,1635.090,1641.540,3313385
2018-08-01,Wednesday,True,1784.00,1798.440,1776.020,1797.170,4153096
2018-10-01,Monday,True,2021.99,2033.190,2003.600,2004.360,3468285

## .truncate() method
used for slicing operations on datetime index objects in pandas

In [152]:
stocks.truncate(before ="2014-02-13", after = "2014-10-10")

,Day of the Week,Start of month?,open,high,low,close,volume
date,,,,,,,
2014-02-13,Thursday,False,347.700,357.2000,346.5000,357.20,4181445
2014-02-14,Friday,False,359.340,359.3400,353.3500,357.35,3524570
2014-02-18,Tuesday,False,355.280,355.7300,349.4500,353.65,5000493
2014-02-19,Wednesday,False,352.640,354.5400,346.1000,347.38,4175393
2014-02-20,Thursday,False,348.800,350.4600,344.3800,349.80,3496663
2014-02-21,Friday,False,352.440,354.1410,346.7500,346.76,4212144
2014-02-24,Monday,False,345.190,353.0000,343.2900,351.78,3647182
2014-02-25,Tuesday,False,353.000,361.0800,351.5800,358.32,3747076
2014-02-26,Wednesday,False,359.860,364.7500,357.1700,359.80,3622506
2014-02-27,Thursday,False,357.220,360.5900,355.5000,360.13,3105442
2014-02-28,Friday,False,360.600,365.8650,357.0840,362.10,3885207
2014-03-03,Monday,False,358.735,360.9600,354.4800,359.78,2798230
2014-03-04,Tuesday,False,363.900,365.6800,362.4600,363.90,2706843
2014-03-05,Wednesday,False,364.130,372.7280,363.9000,372.37,3862706
2014-03-06,Thursday,False,374.050,375.3300,368.9000,372.16,2927497
2014-03-07,Friday,False,374.580,374.9900,369.5310,372.06,2280358
2014-03-10,Monday,False,372.690,372.7300,367.0000,370.53,2107820
2014-03-11,Tuesday,False,370.990,372.8000,367.2800,368.82,2248019
2014-03-12,Wednesday,False,366.400,371.1600,363.6100,370.64,2219663
2014-03-13,Thursday,False,376.620,383.1100,368.0800,371.51,6829047
2014-03-14,Friday,False,372.800,378.5680,371.5500,373.74,4402220
2014-03-17,Monday,False,375.720,378.8500,374.8800,375.04,2306821
2014-03-18,Tuesday,False,377.320,379.0000,375.0000,378.77,2483508
2014-03-19,Wednesday,False,378.770,379.0000,369.4200,373.23,2646687
2014-03-20,Thursday,False,370.640,373.0000,366.2200,368.97,2558460
2014-03-21,Friday,False,371.000,372.8400,358.4000,360.62,5417935
2014-03-24,Monday,False,360.090,361.5000,348.6000,351.85,4879627
2014-03-25,Tuesday,False,354.030,358.9700,348.8400,354.71,4455703
2014-03-26,Wednesday,False,357.130,357.6000,343.4000,343.41,4120665
2014-03-27,Thursday,False,343.150,343.9999,330.8800,338.47,5770462
...,...,...,...,...,...,...,...
2014-08-29,Friday,False,341.760,341.8199,337.6800,339.04,1939848
2014-09-02,Tuesday,False,339.980,342.5000,337.1587,342.38,2328881
2014-09-03,Wednesday,False,342.540,343.2700,337.5500,339.00,1998540
2014-09-04,Thursday,False,343.690,349.3800,343.5800,345.95,3965557
2014-09-05,Friday,False,346.300,346.8270,342.5000,346.38,2111220
2014-09-08,Monday,False,344.540,345.8100,339.0400,342.34,2960693
2014-09-09,Tuesday,False,341.610,341.7600,329.1800,329.75,4646832
2014-09-10,Wednesday,False,334.300,334.9800,328.8200,331.33,3798904
2014-09-11,Thursday,False,329.940,333.0100,326.3900,330.52,2721893
2014-09-12,Friday,False,329.560,332.8900,328.7900,331.19,3429727
2014-09-15,Monday,False,330.910,331.3300,319.0000,323.89,4006918
2014-09-16,Tuesday,False,321.070,329.4800,320.1000,327.76,3265860
2014-09-17,Wednesday,False,327.760,328.0000,321.5200,324.00,4138950
2014-09-18,Thursday,False,325.440,327.1000,323.7105,325.00,2577706
2014-09-19,Friday,False,327.600,332.7559,325.5700,331.32,6886382
2014-09-22,Monday,False,328.490,329.4900,321.0600,324.50,3118649
2014-09-23,Tuesday,False,322.460,327.6000,321.2500,323.63,2353590
2014-09-24,Wednesday,False,324.170,329.4400,319.5600,328.21,2647232
2014-09-25,Thursday,False,327.990,328.5400,321.4000,321.93,2934944
2014-09-26,Friday,False,320.600,323.5000,317.6400,323.21,3639155
2014-09-29,Monday,False,320.500,323.7500,319.0000,321.82,1929589
2014-09-30,Tuesday,False,321.360,323.4300,318.5100,322.44,2639967
2014-10-01,Wednesday,True,322.040,322.1650,315.5500,317.46,3096735
2014-10-02,Thursday,False,316.920,318.5300,311.3100,318.41,3553944
2014-10-03,Friday,False,320.360,325.1600,319.5300,322.74,3037891
2014-10-06,Monday,False,323.500,324.1300,319.6000,322.20,2294194
2014-10-07,Tuesday,False,319.430,322.0000,316.6700,316.98,2365698
2014-10-08,Wednesday,False,316.580,324.1100,314.1400,322.70,3458960
2014-10-09,Thursday,False,321.490,322.2710,314.5200,315.37,3589464
2014-10-10,Friday,False,314.020,317.7700,311.3800,311.39,3684314

## DateOffset objects
ways to modify existing times

In [173]:
#pull in new data
google = data.DataReader(name="GOOG",data_source="quandl", start= dt.date(2013,1,1), end=dt.datetime.now())

In [174]:
google.head(3)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,1063.00,1064.84,996.92,1005.10,3029471.0,0.0,1.0,1063.00,1064.84,996.92,1005.10,3029471.0
2018-03-26,1046.00,1055.63,1008.40,1053.21,2558385.0,0.0,1.0,1046.00,1055.63,1008.40,1053.21,2558385.0
2018-03-23,1047.03,1063.36,1021.22,1021.57,2113497.0,0.0,1.0,1047.03,1063.36,1021.22,1021.57,2113497.0

In [175]:
google.index

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2014-04-09', '2014-04-08', '2014-04-07', '2014-04-04',
               '2014-04-03', '2014-04-02', '2014-04-01', '2014-03-31',
               '2014-03-28', '2014-03-27'],
              dtype='datetime64[ns]', name='Date', length=1007, freq=None)

In [176]:
#add 5 days to the dates on each date
google.index + pd.DateOffset(days = 5)

DatetimeIndex(['2018-04-01', '2018-03-31', '2018-03-28', '2018-03-27',
               '2018-03-26', '2018-03-25', '2018-03-24', '2018-03-21',
               '2018-03-20', '2018-03-19',
               ...
               '2014-04-14', '2014-04-13', '2014-04-12', '2014-04-09',
               '2014-04-08', '2014-04-07', '2014-04-06', '2014-04-05',
               '2014-04-02', '2014-04-01'],
              dtype='datetime64[ns]', name='Date', length=1007, freq=None)

In [181]:
#add 3 weeks to each date
google.index + pd.DateOffset(weeks = 3)

DatetimeIndex(['2018-04-17', '2018-04-16', '2018-04-13', '2018-04-12',
               '2018-04-11', '2018-04-10', '2018-04-09', '2018-04-06',
               '2018-04-05', '2018-04-04',
               ...
               '2014-04-30', '2014-04-29', '2014-04-28', '2014-04-25',
               '2014-04-24', '2014-04-23', '2014-04-22', '2014-04-21',
               '2014-04-18', '2014-04-17'],
              dtype='datetime64[ns]', name='Date', length=1007, freq=None)

In [179]:
#change the time by 3 hours (subtract)
google.index - pd.DateOffset(hours = 3)

DatetimeIndex(['2018-03-26 21:00:00', '2018-03-25 21:00:00',
               '2018-03-22 21:00:00', '2018-03-21 21:00:00',
               '2018-03-20 21:00:00', '2018-03-19 21:00:00',
               '2018-03-18 21:00:00', '2018-03-15 21:00:00',
               '2018-03-14 21:00:00', '2018-03-13 21:00:00',
               ...
               '2014-04-08 21:00:00', '2014-04-07 21:00:00',
               '2014-04-06 21:00:00', '2014-04-03 21:00:00',
               '2014-04-02 21:00:00', '2014-04-01 21:00:00',
               '2014-03-31 21:00:00', '2014-03-30 21:00:00',
               '2014-03-27 21:00:00', '2014-03-26 21:00:00'],
              dtype='datetime64[ns]', name='Date', length=1007, freq=None)

In [184]:
#change multiple aspects of the date at once
google.index + pd.DateOffset(minutes = -4, years = -2, days = -15)

DatetimeIndex(['2016-03-11 23:56:00', '2016-03-10 23:56:00',
               '2016-03-07 23:56:00', '2016-03-06 23:56:00',
               '2016-03-05 23:56:00', '2016-03-04 23:56:00',
               '2016-03-03 23:56:00', '2016-02-29 23:56:00',
               '2016-02-28 23:56:00', '2016-02-27 23:56:00',
               ...
               '2012-03-24 23:56:00', '2012-03-23 23:56:00',
               '2012-03-22 23:56:00', '2012-03-19 23:56:00',
               '2012-03-18 23:56:00', '2012-03-17 23:56:00',
               '2012-03-16 23:56:00', '2012-03-15 23:56:00',
               '2012-03-12 23:56:00', '2012-03-11 23:56:00'],
              dtype='datetime64[ns]', name='Date', length=1007, freq=None)

### pd.tseries module to make relative changes to dates

In [185]:
#round dates to the closest end of the month (which would require a different operation per date)
google.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31', '2018-03-31', '2018-03-31',
               '2018-03-31', '2018-03-31',
               ...
               '2014-04-30', '2014-04-30', '2014-04-30', '2014-04-30',
               '2014-04-30', '2014-04-30', '2014-04-30', '2014-04-30',
               '2014-03-31', '2014-03-31'],
              dtype='datetime64[ns]', name='Date', length=1007, freq=None)

### Timedelta() to check differences between dates
Timedelta() represents a distance in time, a duration, not a specific moment in time

In [189]:
#create a few times
time1 = pd.Timestamp("1978-04-04")
time2 = pd.Timestamp(pd.datetime.now())

time2 - time1 #this is the time I've been alive!

Timedelta('14804 days 15:58:49.618001')

In [191]:
#create a TimeDelta object
duration = pd.Timedelta(days = 3, hours = 1, minutes = 14)

In [194]:
#Timedelta is very flexible
pd.Timedelta("3 days 7 hours 30 seconds")

Timedelta('3 days 07:00:30')

### Timedelta in a dataset

In [196]:
shipping = pd.read_csv('../data/pandas/ecommerce.csv', index_col="ID", parse_dates=['order_date','delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [202]:
#calculate the time differences with these dates
shipping['Delivery Time'] = shipping['delivery_date'] - shipping['order_date']
shipping.head(10)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days
8  1993-06-10    1993-11-11      154 days
9  1990-01-25    1994-10-02     1711 days
10 1992-02-23    1998-12-30     2502 days
11 1996-07-12    1997-07-14      367 days
18 1995-06-18    1997-10-13      848 days

In [204]:
shipping['Twice as long'] = shipping['delivery_date']+shipping['Delivery Time']
shipping.head(10)

   order_date delivery_date Delivery Time Twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18
8  1993-06-10    1993-11-11      154 days    1994-04-14
9  1990-01-25    1994-10-02     1711 days    1999-06-09
10 1992-02-23    1998-12-30     2502 days    2005-11-05
11 1996-07-12    1997-07-14      367 days    1998-07-16
18 1995-06-18    1997-10-13      848 days    2000-02-08

In [208]:
#find all the times that took longer than 3 . years to deliver
shipping[shipping['Delivery Time'] > "1095 days"]

    order_date delivery_date Delivery Time Twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
10  1992-02-23    1998-12-30     2502 days    2005-11-05
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
32  1990-01-20    1998-07-24     3107 days    2007-01-25
36  1990-05-15    1994-02-14     1371 days    1997-11-16
41  1992-02-06    1996-05-10     1555 days    2000-08-12
50  1991-05-03    1999-07-17     2997 days    2007-09-30
63  1990-12-22    1995-09-02     1715 days    2000-05-13
64  1990-11-25    1998-05-14     2727 days    2005-10-31
66  1992-09-08    1998-12-29     2303 days    2005-04-19
70  1994-02-16    1999-11-06     2089 days    2005-07-26
71  1990-11-25    1998-04-06     2689 days    2005-08-16
75  1990-06-25    1996-12-18     2368 days    2003-06-13
78  1992-02-25    1999-02-17     2549 days    2006-02-09
84  1990-01-24    1996-06-06     2325 days    2002-10-18
90  1992-10-09    1997-12-23     1901 days    2003-03-08
91  1993-01-17    1999-09-27     2444 days    2006-06-06
93  1991-12-24    1999-06-15     2730 days    2006-12-05
94  1993-04-01    1998-05-07     1862 days    2003-06-12
98  1991-08-23    1997-08-30     2199 days    2003-09-07
105 1991-01-11    1994-12-03     1422 days    1998-10-25
115 1990-10-22    1995-02-03     1565 days    1999-05-18
117 1993-08-18    1998-08-20     1828 days    2003-08-22
123 1990-11-30    1994-09-07     1377 days    1998-06-15
130 1990-04-02    1999-08-16     3423 days    2008-12-29
132 1992-09-27    1999-10-18     2577 days    2006-11-07
..         ...           ...           ...           ...
872 1990-08-19    1995-07-07     1783 days    2000-05-24
874 1994-05-03    1998-12-31     1703 days    2003-08-30
876 1991-11-21    1997-10-20     2160 days    2003-09-19
881 1990-02-21    1997-09-11     2759 days    2005-04-01
884 1990-01-20    1999-11-12     3583 days    2009-09-03
887 1993-09-25    1998-08-09     1779 days    2003-06-23
888 1995-09-01    1999-11-01     1522 days    2004-01-01
892 1991-02-21    1998-04-16     2611 days    2005-06-09
894 1990-05-24    1997-08-12     2637 days    2004-10-31
900 1992-01-26    1999-11-23     2858 days    2007-09-20
902 1991-07-03    1999-11-10     3052 days    2008-03-19
904 1990-02-13    1999-11-15     3562 days    2009-08-16
907 1994-08-11    1998-09-28     1509 days    2002-11-15
908 1993-11-04    1997-02-26     1210 days    2000-06-20
909 1991-01-19    1998-08-22     2772 days    2006-03-25
924 1991-03-17    1996-05-13     1884 days    2001-07-10
926 1990-10-31    1994-04-12     1259 days    1997-09-22
935 1990-09-26    1998-03-07     2719 days    2005-08-16
942 1992-04-14    1997-03-03     1784 days    2002-01-20
943 1991-01-30    1999-12-02     3228 days    2008-10-03
946 1991-07-02    1996-02-23     1697 days    2000-10-16
947 1991-06-18    1999-06-11     2915 days    2007-06-04
956 1995-08-23    1999-01-10     1236 days    2002-05-30
957 1994-10-01    1999-07-25     1758 days    2004-05-17
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
984 1991-07-25    1999-02-09     2756 days    2006-08-27
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06

[237 rows x 4 columns]

In [209]:
#you can use .max(), min(), etc. on a TimeDelta object.  e.g., 

## find shortest delivery time
shipping['Delivery Time'].min()

Timedelta('8 days 00:00:00')

In [210]:
#longest delivery time
shipping['Delivery Time'].max()

Timedelta('3583 days 00:00:00')

In [211]:
#average delivery time
shipping['Delivery Time'].mean()

Timedelta('1217 days 22:53:53.532934')