In [1]:
#import needed libraries
import pandas as pd

In [2]:
bond = pd.read_csv("../data/pandas/jamesbond.csv")

In [3]:
siblings = ['David','Robyn','Rebecca','Michael','Peter','Dan','Matt','Sarah','Liz','Adam']

In [5]:
siblings = pd.Series(siblings)

In [6]:
ages = [45,44,43,41,40,38,38,35,32,28]

In [8]:
ages = pd.Series(ages)
ages

0    45
1    44
2    43
3    41
4    40
5    38
6    38
7    35
8    32
9    28
dtype: int64

In [37]:
ages.describe(percentiles = [.9,.1])

count    10.000000
mean     38.400000
std       5.440588
min      28.000000
10%      31.600000
50%      39.000000
90%      44.100000
max      45.000000
Name: Ages, dtype: float64

In [10]:
ages.mean()

38.4

In [11]:
ages.min()

28

In [12]:
ages.median()

39.0

In [13]:
ages.mode()

0    38
dtype: int64

In [14]:
ages.sum()

384

In [16]:
ages.prod()

6322964465664000

In [17]:
ages.sum()/ages.count()

38.4

In [18]:
ages.count()

10

In [19]:
len(ages)

10

In [26]:
sibs = siblings.values

In [29]:
sibs = sibs.astype('object')

In [30]:
ages.shape

(10,)

In [32]:
ages.name

In [33]:
ages.name = "Ages"

In [34]:
ages.name

'Ages'

In [49]:
ages.sort_values(inplace=True)

In [41]:
ages

9    28
8    32
7    35
5    38
6    38
4    40
3    41
2    43
1    44
0    45
Name: Ages, dtype: int64

In [42]:
ages.sort_index(inplace=True)

In [43]:
ages

0    45
1    44
2    43
3    41
4    40
5    38
6    38
7    35
8    32
9    28
Name: Ages, dtype: int64

In [52]:
dir(ages)
Output = False

In [59]:
films = pd.read_csv('../data/pandas/jamesbond.csv', usecols=['Film'], squeeze = True)
films

                               Film           Actor
0                            Dr. No    Sean Connery
1             From Russia with Love    Sean Connery
2                        Goldfinger    Sean Connery
3                       Thunderball    Sean Connery
4                     Casino Royale     David Niven
5               You Only Live Twice    Sean Connery
6   On Her Majesty's Secret Service  George Lazenby
7              Diamonds Are Forever    Sean Connery
8                  Live and Let Die     Roger Moore
9       The Man with the Golden Gun     Roger Moore
10             The Spy Who Loved Me     Roger Moore
11                        Moonraker     Roger Moore
12               For Your Eyes Only     Roger Moore
13            Never Say Never Again    Sean Connery
14                        Octopussy     Roger Moore
15                 A View to a Kill     Roger Moore
16             The Living Daylights  Timothy Dalton
17                  Licence to Kill  Timothy Dalton
18                        GoldenEye  Pierce Brosnan
19              Tomorrow Never Dies  Pierce Brosnan
20          The World Is Not Enough  Pierce Brosnan
21                  Die Another Day  Pierce Brosnan
22                    Casino Royale    Daniel Craig
23                Quantum of Solace    Daniel Craig
24                          Skyfall    Daniel Craig
25                          Spectre    Daniel Craig

In [55]:
films.head()

0                   Dr. No
1    From Russia with Love
2               Goldfinger
3              Thunderball
4            Casino Royale
Name: Film, dtype: object

In [56]:
films.tail()

21      Die Another Day
22        Casino Royale
23    Quantum of Solace
24              Skyfall
25              Spectre
Name: Film, dtype: object

In [57]:
films.tail(10)

16       The Living Daylights
17            Licence to Kill
18                  GoldenEye
19        Tomorrow Never Dies
20    The World Is Not Enough
21            Die Another Day
22              Casino Royale
23          Quantum of Solace
24                    Skyfall
25                    Spectre
Name: Film, dtype: object

In [68]:
siblings[-1:]

9    Adam
dtype: object

In [75]:
newFam = pd.Series(data = ages.values, index = siblings)

In [76]:
newFam.values

array([28, 32, 35, 38, 38, 40, 41, 43, 44, 45])

In [79]:
def dogYears(age):
    if age > 40:
        age = age *5
    elif age == 40:
        age = 40
    else:
        age = age *7
    return age

In [81]:
ages.apply(dogYears).sort_values()

4     40
9    196
3    205
2    215
1    220
8    224
0    225
7    245
5    266
6    266
Name: Ages, dtype: int64

In [82]:
ages.apply(lambda age : age* 7)

9    196
8    224
7    245
5    266
6    266
4    280
3    287
2    301
1    308
0    315
Name: Ages, dtype: int64

In [83]:
import math

In [94]:
ages.apply(lambda age : math.log2(age))

9    4.807355
8    5.000000
7    5.129283
5    5.247928
6    5.247928
4    5.321928
3    5.357552
2    5.426265
1    5.459432
0    5.491853
Name: Ages, dtype: float64