# .apply() method

In [19]:
#import needed library and data
import pandas as pd
def setUp():
    bond = pd.read_csv("../data/pandas/jamesbond.csv",index_col="Film")
    bond.sort_index(inplace = True)
    bond.head(3)

## use an .apply method on an entire column (or columns!).
little bit of code, lots of power.

In [10]:
#convert col names to strings
def convertToStringAndAddMillions(num):
    return "$"+str(num) + " million"

In [12]:
columns = ["Box Office", "Budget", "Bond Actor Salary"]# bond["Budget"] = bond["Budget"].apply(convertToStringAndAddMillions)

In [15]:
for col in columns:
    bond[col] = bond[col].apply(convertToStringAndAddMillions)

In [16]:
#check to see how everything was changed in the original dataframe
bond.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,$275.2 million,$54.5 million,$9.1 million
Casino Royale,2006,Daniel Craig,Martin Campbell,$581.5 million,$145.3 million,$3.3 million
Casino Royale,1967,David Niven,Ken Hughes,$315.0 million,$85.0 million,$nan million
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,$442.5 million,$34.7 million,$5.8 million
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,$465.4 million,$154.2 million,$17.9 million
Dr. No,1962,Sean Connery,Terence Young,$448.8 million,$7.0 million,$0.6 million
For Your Eyes Only,1981,Roger Moore,John Glen,$449.4 million,$60.2 million,$nan million
From Russia with Love,1963,Sean Connery,Terence Young,$543.8 million,$12.6 million,$1.6 million
GoldenEye,1995,Pierce Brosnan,Martin Campbell,$518.5 million,$76.9 million,$5.1 million
Goldfinger,1964,Sean Connery,Guy Hamilton,$820.4 million,$18.6 million,$3.2 million

## Using .apply() with Row Values

In [20]:
#reset data
setUp()

In [21]:
def goodMovie(row):
    
    actor = row[1]
    budget = row[4]
    
    if actor == 'Pierce Brosnan':
        return "The worst"
    elif actor == "Sean Connery" and budget > 40:
        return "Good flick"
    else:
        return "Not even worth it."

#apply to each row using the axis parameter
bond.apply(goodMovie, axis="columns")

Film
A View to a Kill                   Not even worth it.
Casino Royale                      Not even worth it.
Casino Royale                      Not even worth it.
Diamonds Are Forever               Not even worth it.
Die Another Day                             The worst
Dr. No                             Not even worth it.
For Your Eyes Only                 Not even worth it.
From Russia with Love              Not even worth it.
GoldenEye                                   The worst
Goldfinger                         Not even worth it.
Licence to Kill                    Not even worth it.
Live and Let Die                   Not even worth it.
Moonraker                          Not even worth it.
Never Say Never Again                      Good flick
Octopussy                          Not even worth it.
On Her Majesty's Secret Service    Not even worth it.
Quantum of Solace                  Not even worth it.
Skyfall                            Not even worth it.
Spectre                            Not even worth it.
The Living Daylights               Not even worth it.
The Man with the Golden Gun        Not even worth it.
The Spy Who Loved Me               Not even worth it.
The World Is Not Enough                     The worst
Thunderball                                Good flick
Tomorrow Never Dies                         The worst
You Only Live Twice                        Good flick
dtype: object

# .copy method

In [24]:
setUp()

In [29]:
#let's look at a bit of our data to begin with
directors = bond["Director"]
directors.head(10)

Film
A View to a Kill               John Glen
Casino Royale            Martin Campbell
Casino Royale                 Ken Hughes
Diamonds Are Forever        Guy Hamilton
Die Another Day             Lee Tamahori
Dr. No                     Terence Young
For Your Eyes Only             John Glen
From Russia with Love      Terence Young
GoldenEye                Martin Campbell
Goldfinger                  Guy Hamilton
Name: Director, dtype: object

In [33]:
directors['A View to Kill'] = "Mr. John Glen" #notice that you get a warning.  This operation will change the original dataframe.
directors.head(10)

Film
A View to a Kill               John Glen
Casino Royale            Martin Campbell
Casino Royale                 Ken Hughes
Diamonds Are Forever        Guy Hamilton
Die Another Day             Lee Tamahori
Dr. No                     Terence Young
For Your Eyes Only             John Glen
From Russia with Love      Terence Young
GoldenEye                Martin Campbell
Goldfinger                  Guy Hamilton
Name: Director, dtype: object

In [ ]:
# in order to not overwrite the orignal data, make a copy of a specific series and manipulate the copy instead.